/.phpunit.cache
/node_modules
/public/build
/public/new-watermark.png
public/new-watermark.png
public/app.mubashar.tr/mubashar.apk
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/vendor
/vendor/
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_static.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/platform_check.php
vendor/composer/platform_check.php
vendor/composer/InstalledVersions.php
vendor/composer/installed.php
vendor/composer/installed.json
vendor/composer/autoload_static.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_files.php
vendor/composer/autoload_classmap.php
